
:root {
/* Custom Properties */
--Dark:  #020403;
--Gray:#ADADAD;
--White:#FFFFFF;
--title: 15rem;
--subtitle: 5rem;
--subsection: 4.5rem;
--body: 1.8rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--Dark);
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  color:var(--White)
}

h1 {
  font-size: 75px;
  text-align: center;
}

h2 {
 font-size: var(--subtitle);
 text-align: center;
}

h4 {
  font-size: var(--body);
  text-align: center;
  color: var(--White);
}

h5 {
font-size: var(--body);
text-align: center;
color: var(--Gray);
}

header {
  font-size: 1.5rem;
  text-align: right;
  padding: 4rem;
  z-index: -1;
}

.main-nav a{
text-decoration: none;
color: var(--White);
padding: 2.5rem;
z-index: 52;
}

.hi h2 {
color: var(--Gray );
}

.profile {
  display: flex;
  justify-content: center;
}

/*.social-media {
  display: flex;
  justify-content: space-around;
  padding-left: 50rem;
  padding-right: 50rem;
} */

.about {
  text-align: center;
  padding: 1rem 15rem 5rem 15rem;
  font-size: var(--body);
  color: var(--Gray);
}

.skills {
  float: center;
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 10rem 10rem;
  column-gap: 25rem;
  row-gap: 10rem;
  place-content: center;
  text-align: center;
  padding-bottom: 5rem;
}

.icons img {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.icons2 img {
  margin-top: -1rem;
}


.grip {
  font-size: var(--body);
  color: var(--white);
  display: grid;
  grid-template-columns: 35rem 20rem;
  grid-template-rows: 15rem 10rem;
  align-items: end;
  padding-left: 25rem;
}


.years {
  color: var(--Gray);   
}

.portfolio img {
  display: flex;
  align-items: center;
  align-content: space-around;
  float: left;
  width: 25%;
  height: 20rem;
  padding: 1rem 3rem 3rem 3rem;
}

.portfolio {
  padding-left: 15rem;
}

.footer {
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 2rem 2rem;
  place-content: center;
  text-align: center;
  row-gap: 3rem;
  font-size: var(--gray);
  color: var(--gray);
  padding-bottom: 5rem;
}

.footer img {
  background-color: var(--gray);

  border-radius: 50%;
}

/* PUNTERO */
.cont-padre {
  background-color: var(--Dark);
  height: 100vh;
  width: 100vw;
  position: relative;
}

.puntero {
  border-top: 3px solid var(--White);
  border-bottom: 3px solid var(--White);
  border-left: 3px solid var(--Gray);
  border-right: 3px solid var(--Gray);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 49;
  animation: girar 0.8s infinite linear;
}

.puntero2 {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  border-left: 3px solid white;
  border-right: 3px solid white;
  width: 80%;
  height: 80%;
  margin: 5%;
  border-radius: 100px;
}

@keyframes girar {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

/*Efecto De Iconos*/

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.btn {
  width: 100px;
  height: 100px;
  background-color: var(--Dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: 51;
}

i.fa
{
    font-size: 44px;
}
#ln
{
    color: #006fff;
    text-shadow: 0 0 30px #006fff;
}
#ig
{
    color: #ff5f40;
    text-shadow: 0 0 30px #ff5f40;
}
#tw
{
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}
.btn.ln-btn
{
    box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}
.btn.ln-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,111,255,0.65);
}
.btn.ig-btn
{
    box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}
.btn.ig-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}
.btn.tw-btn
{
    box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}
.btn.tw-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0,111,255,0.6);
}
 /* Responsive*/
@media(max-width: 43rem){
  body {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
  }
  h1 {
    margin-left: 4rem;
  }
  h4 {
    font-display: flex;
    margin-right: -4rem;
  }
  .social-media {
    margin-left: -2rem;
  }
  .header {
    margin-top: -10rem;
  }
  .portfolio img {
    width: 39rem;
  }
}

@media(max-width: 35rem){
  body {
    margin-right: 1rem;
    margin-left: 1.5rem;
  }
  h1 {
    margin-left: 2rem;
  }
  .portfolio img {
    width: 35rem;
    align-items: center
    ;
  }
}

 @media (max-width: 720px){
  .checkbtn {
    display: block;
  }
}

 @media(max-width: 30rem){
  .cont-padre{
    width: 100%;
  }
 }

 @media(max-width:30rem){
  .main-nav{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-nav a{
    display: block;
    width: 100%;
    text-align: center;
  }
 }
 
 @media(max-width: 30rem){
  .profile, h2, h1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
  }
 
  @media(max-width:30rem){
    .about {
      text-align: center;
      padding-left: 5rem;
      padding-right: 2rem;
    }
  }
 }

 @media(max-width:30rem){
  .skills {
    display: grid;
    grid-template-columns: 0.2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
 }
 

 @media(max-width:30rem){
  .grip{
    text-align: center;
    padding-left: 0%;
  }
 }
  
